/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.image {
	width: 200px;
	height: 100px;
	margin-left: 30px;
	border-radius: 20%;
}

.head2 {
	text-align: center;
	color: #A80000;
}

.toprow {
	background-color: lightgrey;
}

.headline {
	color: white;
	text-align: left;
	font-family: arial;
	font-size: 30px;
}

body {
    background-color: lightblue;
}

.body {
	margin-top: 100px;
}

.searchbar {
	margin-left: 178px;
}

.lists {
	float: left;
	margin: 15px;
	border-radius: 10%;
	border-style: solid;
	border-color: #5bc0de;
	padding: 10px;
}

.navbar-static-bottom {
	margin-bottom: -100px;
	background-color: lightgrey;
}

.sidebar {
	margin: 8px;
	border: 2px solid grey;
	border-radius: 15%;
}

.sidehead {
	text-align: center;
	color: #A80000 ;
	font-family: italic;
}

.dateside {
	text-align: center;
	color: #A80000;	
}

.btn-sm {
	margin-top: 5px;
}

.search-top {
	margin-top: 60px;
}

.sideh2 {
	text-align: center;
	font-family: italic;
	color: #428bca;
}

.addform {
	margin: 10px;
	font-family: times;
}

.formb {
	margin-left: 90px;
	margin-top: 10px;
}

.textfield {
	margin-left: 10px;
}

.image_ultra {
	float: right;
	margin-top: -400px;
	margin-right: 100px;
	border-radius: 20%;
}